* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-2 {
    display: none;
}

/* .show {
    display: block !important;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.expense-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1200px;
    max-width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    width: 48%;
}

.upload-section {
    border: 2px dashed #ccc;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    background-color: #f7f7f7;
}

.upload-section img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
}

.upload-section p {
    font-size: 14px;
    color: #666;
}

input[type="file"] {
    display: none;
}

.file-label {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.file-info {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button#cancelButton {
    background-color: #dc3545;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button:hover {
    opacity: 0.9;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}
